# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
.env
*.db
strategies_code/

# Node
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
